<h1 align="center"> Edit Repeat Items </h1>

<form action="/grocery/list" align="center">
  <fieldset>
    <legend>Which item would you like to edit?</legend>
    Item:<br>
    <input type="text" name="additional_item" value="Item">
    <br>
    Quantity:<br>
    <input type="integer" name="quantity" value="Quantity">
    <br>
    Expected Cost:<br>
    <input type="integer" name="expected_cost" value="Cost">
    <br>
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
