
  <div class="col-sm-offset-4 col-sm-4" align="center">
    <!-- Default panel contents -->
    <div class="panel-heading">Grocery List Tracker</div>
    <div class="panel-body">
      <p>
        <ul class="list-group">
          <li class="list-group-item">View Grocery List</li>
          <li class="list-group-item">Add Special Item</li>
          <li class="list-group-item">Add/Update Repeat Item</li>
          <li class="list-group-item">Add/Update Stores</li>
          <li class="list-group-item">Grocery List By Store</li>
        </ul>
      </div>
    </p>
  </div>

</body>
