<div class="col-sm-offset-4 col-sm-4" align="center">
    <!-- Default panel contents -->
    <div class="panel-heading"> <h1> Your Grocery List </h1></div>
    <div class="panel-body">
      <p>
        <ul class="list-group">
          <li class="list-group-item"><a href="/grocery/list">View Grocery List</li>
          <li class="list-group-item"><a href="/grocery/add">Add to Grocery List</li>
          <li class="list-group-item"><a href="/grocery/edit">Add/Update Repeat Item</li>
          <li class="list-group-item"><a href="/grocery/list">Grocery List By Store</li>
        </ul>
      </div>
    </p>
  </div>
