<h1 align="center"> Grocery List </h1>

  <% @groceries.each do |grocery| %>
  <table align="center">
    <tr>
      <td> <%= grocery.item %> </td>
      <td> <%= grocery.quantity %> </td>
      <td> <%= grocery.expected_cost %> </td>
      <td> <%= grocery.store_id %> </td>
    </tr>
  </table>
  <% end %>

