<h1 align="center"> Grocery List </h1>

  <% @groceries.each do |grocery| %>
  <div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-2"> <%= grocery.item %> </div>
        <div class="col-sm-2"> <%= grocery.quantity %> </div>
        <div class="col-sm-2"> <%= grocery.expected_cost %> </div>
    </div>
</div>
  <% end %>

