<h1> Grocery List </h1>

Grocery List
<!-- show list of stores -->
<ul>
  <% @groceries.each do |grocery| %>
  <table>
    <tr>
      <td> <%= grocery.item %> </td>
      <td> <%= grocery.quantity %> </td>
      <td> <%= grocery.expected_cost %> </td>
      <td> <%= grocery.store_id %> </td>
    </tr>
  </table>
  <% end %>
</ul>
