<h1 align="center"> Add Store </h1>

<form action="/stores/view" align="center">
  <fieldset>
    <legend>Store Information:</legend>
    Name:<br>
    <input type="text" name="name" value="Name">
    <br>
    Type:<br>
    <input type="text" name="type" value="Grocery/Convenience">
    <br>
    Address:<br>
    <input type="text" name="address" value="Address/Location">
    <br>
    Hours:<br>
    <input type="text" name="hours" value="Hours/Other Information">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
