  <div class="col-sm-offset-4 col-sm-4" align="center">
    <!-- Default panel contents -->
    <div class="panel-heading"><h1>Stores</h1></div>
    <div class="panel-body">
      <p>
        <ul class="list-group">
          <li class="list-group-item"><a href="/stores/view">View Stores</li>
          <li class="list-group-item"><a href="/stores/add">Add Store</li>
          <li class="list-group-item"><a href="/stores/update/:id">Update Store</li>
          <li class="list-group-item"><a href="/grocery/list">Grocery List By Store</li>
        </ul>
      </div>
    </p>
  </div>
