  <div class="col-sm-offset-4 col-sm-4" align="center">
    <!-- Default panel contents -->
    <div class="panel-heading">Stores</div>
    <div class="panel-body">
      <p>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">View Stores</li>
          <li class="list-group-item"><a href="#">Add Store</li>
          <li class="list-group-item"><a href="#">Delete Store</li>
          <li class="list-group-item"><a href="#">Grocery List By Store</li>
        </ul>
      </div>
    </p>
  </div>
