<h1 align="center"> View Stores </h1>


  <% @stores.each do |store| %>
  <table align="center">
    <tr>
      <td> <%= store.name %> </td>
      <td> <%= store.address %> </td>
      <td> <%= store.type %> </td>
    </tr>
  </table>
  <% end %>

